__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pyc
venv/
env/
*.env
.ipynb_checkpoints/
.vscode/
.idea/
*.log
data/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.cache/
*.db
*.sqlite
*.sqlite3
*.swp
*.tmp
*.bak
*.vscode
__pytorch/
*.pyc
*.pyo
*.pyd
*.whl
*.egg-info/
dist/
build/
bin/
eggs/
lib/
lib64/
.ipynb_checkpoint

openpowerlifting.csv